{% extends 'base.html'%}

{% block title %}
Simple chat!
{% endblock %}

{% block content %}
<div class="form-group">
  <textarea class="form-control" id="exampleFormControlTextarea1" readonly="true" rows="20">
    {%  block message %}
    No content sorry!
    {% endblock %}
  </textarea>

    <div>
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Send" >
      </form>
    </div>
  </div>
  {% endblock %}
      <!-- Кривой, потому что отображение от начала textarea нормально отображается -->
